* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('img/space.jpg');
    background-size: 800px 800px;
    background-position: center;
    background-repeat: repeat;
    min-height: 100%;
}

body {
    min-height: 100vh;
    overflow: hidden;
}

#spaceship {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: auto;
    cursor: pointer;
    transition: transform 0.1s ease;
}